<article class="main">
  <p>Welcome to Mobile App Development - JOUR 484</p>
  <p>This course will be a hands-on, interactive class in which you research, and develop a mobile news application. You will develop and pitch an application, form teams and implement web technology to launch your application. By the end of the semester, you and your team will have a working application deployed on the internet. This course will take you from idea to application launch.</p>

  <p>Instructors<br />
    Michael McKisson<br />
    <a href="mailto:mckisson@email.arizona.edu">mckisson@email.arizona.edu</a><br />
    Rob Wisner<br />
    <a href="mailto:rwisner@gmail.com">rwisner@gmail.com</a>
  </p>

  <p>Class time<br />
    Tuesday & Thursday, 9:00a - 10:50a
  </p>

  <p>Class location<br />
    Marshall Building 342
  </p>

  {% include posts.html %}

</article>
