.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.2em;
  text-align: left;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  text-align: center;
  background: #cccccc;
}

.footer {
  text-align: center;
  background: #cccccc;
}

.main {
  background: #ffffff;
}

.aside-1 {
  background: #ffffff;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .posts   { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}

.main a {
    color: black;
    text-decoration: none;
}

.postlink {
  border: 1px solid #cccccc;
  margin-bottom: 4px;
  padding: 4px 4px 4px 4px;
}

.postlink a {
    color: black;
    text-decoration: none;
}

.navlink {
  margin-bottom: 4px;
  padding: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #000000;
}

.navlink a {
    color: white;
    text-decoration: none;
}
