body {
  padding: 1.5em;
  font-family: Verdana, Geneva, sans-serif;
}

.nav {
  text-align: right;
  margin-bottom: 8px;
}

.nav a {
    color: navy;
    text-decoration: none;
}

.head {
  font-size: 2.2em;
  font-weight: bold;
  color: navy;
}

.subhead, h3 {
  font-size: 1.6em;
  font-weight: normal;
  color: navy;
}

.body {
  color: black;
  font-size: 1.2em;
}

.postlink {
  border: 1px solid navy;
  margin-bottom: 8px;
  padding: 8px 8px 8px 8px;
}

.postlink a {
    color: black;
    text-decoration: none;
}
